body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 0;
    padding: 0;
    background-color: antiquewhite;

}
header{
    background-color: aqua;
    color: white;
    padding: 20px;
    text-align: center;
}
#hero{
    background-image: url(static/images.jpeg);
    margin: auto;
    background-size: cover;
    background-position: center;
    padding: 70px 20px;
    color: aquamarine;
    text-align: center;
    height: 250px;
}
#container{
    max-width: 800px;
    margin:0px auto
}
#about{
    border: 1px solid blue;
    padding: 20px;
   max-width: 1000px;
    border-radius: 15px;
    box-shadow: 0 0 10px greenyellow;
}
#mission{
    margin-top: 10px;
    padding: 20px;
    border: 1px solid blue;
    border-radius: 15px;
    box-shadow: 0 0 10px greenyellow;

}
#vision{
    border: 1px solid blue;
     margin-top: 10px;
     padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0  10px greenyellow


}
h2{
    color: rgb(138, 255, 127);
}
h3{
    color: chartreuse;
}
footer{
    background-color: aqua;
    padding: 20px;
    text-align: center;
}
nav ul{
    list-style-type: none;
}
nav li{
    display: inline;
}
nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 15px;
padding: 10px;
}
nav a:hover{
background-color: cadetblue;
color: chartreuse;
}
.contact{
    width:90%;
    margin:40px auto;
    
}

#contact-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
   }
#contactform{
    flex: 1;
    min-width:300px;
    padding: 20px;
    box-shadow: 0 0 10px greenyellow;
    border-radius: 10px;
}
#maps{
    flex: 1;

    min-width:300px;
    padding: 20px;
    box-shadow: 0 0 10px greenyellow;
    border-radius: 10px;
}

h2{
    color: green;
    text-align: center;
}

form label{
    display: block;
    font-weight: bold;
}
form input,form textarea{
    display: block;
    width: 100%;
    border: 1px solid beige;
    border-radius: 5px;
}
form button{
    background-color: burlywood;
    width: 100%;
    color:white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
#maps iframe{
    width: 100%;
    border-radius: 10px;
}
/* responsive design  */
@media(max-width:768px){
    #contact-container{
        flex-direction: column;
    }} 
    /* service page  */
    #ourservices{
        width: 90%;
        margin:40px,auto ;
        text-align: center;
    }.services{
        display: flex;
        justify-content: center;
        gap: 30px;
        box-shadow: 0 0 12px greenyellow;
        border-radius: 10px;
        text-align: center;
    }
    .service:hover{
        transform: translateY(-8px);
    }
    #service img{
        width: 100%;
        height: 220px;
        object-fit: cover;
    }